<div class="footer">
    <div class="info-footer">
        <div class="icons">
            <a href="https://www.linkedin.com/company/pixar-animation-studios/">
                <img src="linkedin.png" class="icon">
            </a>
            <a href="https://www.facebook.com/Pixar/">
                <img src="facebook-logo.png" class="icon">
            </a>
            <a href="https://x.com/pixar">
                <img src="x-logo.png" class="icon">
            </a>
            <a href="https://www.youtube.com/pixar">
                <img src="youtube.png" class="icon">
            </a>
            <a
                href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2Fpixar%2F&is_from_rle">
                <img src="insta-logo.png" class="icon">
            </a>

        </div>
        <div class="more-info">
            <div>
                <p class="title">FILMS</p>
                <a href="https://www.pixar.com/feature-films" class="links">Features</a><br>
                <a href="https://www.pixar.com/short-films" class="links">Shorts</a><br>
                <a href="https://www.pixar.com/series" class="links">Series</a><br>
                <a href="https://www.pixar.com/sparkshorts" class="links">SparkShorts</a><br>
                <a href="https://www.pixar.com/docs" class="links">Documentaries</a><br>
            </div>
            <div>
                <p class="title">TECH</p>
                <a href="https://www.pixar.com/technology-at-pixar" class="links">Tech at Pixar</a><br>
                <a href="https://www.pixar.com/renderman" class="links">RenderMan</a><br>
                <a href="https://www.pixar.com/openusd" class="links">Open USD</a><br>
                <a href="https://www.pixar.com/software-rd" class="links">Software R&D</a><br>
                <a href="https://www.pixar.com/technology-libraries" class="links">Life At Pixar</a>
            </div>
            <div>
                <p class="title">CAREERS</p>
                <a href="https://www.pixar.com/careers" class="links">Careers At Pixar</a><br>
                <a href="https://www.pixar.com/internships" class="links">Internships</a><br>
                <a href="https://www.pixar.com/life-at-pixar" class="links">Series</a><br>
            </div>
            <div>
                <p class="title">MORE</p>
                <a href="https://www.pixar.com/leaders" class="links">Leaders</a><br>
                <a href="https://www.pixar.com/our-story" class="links">Our Story</a><br>
                <a href="https://www.pixar.com/events" class="links">Events</a><br>
                <a href="https://www.pixar.com/pixar-in-a-box" class="links">Pixar In A Box</a><br>
                <a href="https://www.pixar.com/supplier-diversity" class="links">Supplier Diversity</a><br>
                <a href="https://www.pixar.com/company-faqs" class="links">FAQ’s</a><br>
            </div>
        </div>
    </div>
    <div class="copy">
        <p>Do Not Sell or Share My Personal Information</p>
        <p>Privacy Policy | Your US State Privacy Rights | Children's Online Privacy Policy | Interest Based Ads |</p>
        <p>{{ copyright }}</p>
    </div>
</div>