.footer{
    height: 50vh;
    width: 100%;
}
.info-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    background-color: #F6F6F4;
    
}
.icons{
    display: flex;
    gap: 1vw;
    margin-left: 14vw;
}
.icon{
    width: 25px;
    transition: filter 0.3s ease-in-out; /* Suaviza la transición */
}
.icon:hover{
    cursor: pointer;
    filter:contrast(0.5);
}
.more-info{
    display: flex;
    gap: 4vw;
    width: 50vw;
    height: 50%;
}
.title{
    font-family: 'HVDTrial Brandon Grotesque', sans-serif;
    font-weight: bold;
    font-size: 0.8vw;
    letter-spacing: 0.2vw;
}
.links{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}   
.copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6vw;
    height: 30%;
}