<div class="component1">
    <div class="div1">
        
        <div class="contenedor1">
            <img src="Dream-Productions-Logo.png" class="logo-cont1">
            <p>NOW STREAMING </p>
            <img src="d+white.png" class="logo-d">
        </div>
        <div class="contenedor2">
            <img src="hop2.jpg" class="logo-cont2">
            <p>MARCH 6, 2026</p>
        </div>
        <div class="contenedor3">
            <img src="logo-toy.png" class="logo-cont3">
            <p>JUNE 19, 2026</p>
        </div>
    </div>
</div>