.component2 {
    width: 100%;
    height: 38vh;
    margin-left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1 {
    width: 65.5vw;
    height: 38vh;
    border: 2px solid rgba(99, 99, 99, 0);
    display: flex; 
    margin-left: 0.3vw;
    margin-top: 1vw;
}

.contenedores-izquierda {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.contenedor1,
.contenedor2 {
    border: 4px solid rgb(255, 255, 255);
    width: 100%;
    height: 49%;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor1 {
    background-image: url(/component2-img1.jpg);
}

.contenedor2 {
    background-image: url(/component2-img2.jpg);
}

.contenedor3 {
    border: 4px solid rgb(255, 254, 254);
    width: 69%;
    height: 98%;
    background-image: url(/component2-img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text-careers{
    color: white;
    width: 41%;
    margin-top: 7%;
    margin-left: 7%;
    font-family: Arial, Helvetica, sans-serif;
}
.text-careers h1{
    font-size: 2.2vw;
}
.text-careers p{
    font-size: 1vw;
}
.text-careers a{
    font-size: 1vw;
    color: white;
}