<div class="component2">
    <div class="div1">
        <div class="contenedores-izquierda">
            <div class="contenedor1"></div>
            <div class="contenedor2"></div>
        </div>
        <div class="contenedor3">
            <div class="text-careers">
                <h1>Careers at Pixar</h1>
                <p>At Pixar, we are proud of our tradition of creative and technical excellence and are always looking for talented people to enrich our work and our community. <a href="https://www.pixar.com/careers">Learn more</a></p>
            </div>
        </div>
    </div>
</div>